/* ---------------------------------- reset --------------------------------- */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  position: relative;
  background-color: var(--color-light);
  min-width: 320px;
  max-width: 100%;
  height: 100%;
  overflow-x: clip;
  color: var(--color-dark);
  font-size: var(--font-md);
  font-family: var(--font-base);
  text-wrap: pretty;
}

body::before {
  position: absolute;
  opacity: 0.8;
  z-index: -1;
  inset: 0;
  background-image: linear-gradient(
      var(--color-gray-light) 1px,
      transparent 1px
    ),
    linear-gradient(to right, var(--color-gray-light) 1px, transparent 1px);
  background-size: 10vw 10vw;
  height: 100%;
  content: "";
}

/* --------------------------------- colors --------------------------------- */
:root {
  --color-light: #f2f2f2;
  --color-gray-light: #d5d4d4;
  --color-gray-muted: #595959;
  --color-gray-dark: #262626;
  --color-dark: #0d0d0d;
  --color-primary: #dc74c1;
  --color-primary-dark: #8b4579;
  --color-secondary: #8411fa;
}

/* --------------------------------- spaces --------------------------------- */
:root {
  --space-sm: 15px;
  --space-md: 30px;
  --space-lg: 60px;
  --space-y: 20vh;
  --space-x: 10vw;
}

/* --------------------------------- others --------------------------------- */
:root {
  --rounded-sm: 4px;
}

/* ------------------------------- typography ------------------------------- */
@font-face {
  src: url("/public/fonts/IBMPlexMono-Bold.ttf") format(truetype);
  font-family: "IBM Plex Mono Title";
}

@font-face {
  src: url("/public/fonts/IBMPlexMono-Regular.ttf") format(truetype);
  font-family: "IBM Plex Mono Base";
}

:root {
  --font-title: "IBM Plex Mono Title";
  --font-base: "IBM Plex Mono Base";
}

/* ---------------------------------- texts --------------------------------- */
:root {
  --font-md: 2rem;
  --font-lg: 3.5rem;
  --font-xl: 5rem;
  --font-xxl: 8rem;
}

h6,
h5 {
  font-size: var(--font-md);
}

h4 {
  font-size: var(--font-lg);
}

h3 {
  font-size: var(--font-xl);
}

h1 {
  font-size: var(--font-xxl);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  animation: fadeIn both;
  animation-timeline: view();
  animation-range: entry 0 cover 40%;
}

@keyframes fadeIn {
  from {
    scale: 0.9;
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.title {
  line-height: 80%;
  font-family: var(--font-title);
  text-transform: uppercase;
  text-wrap: balance;
}

.subtitle {
  letter-spacing: 10px;
  text-wrap: balance;
}
