.header {
  position: relative;
  background-color: var(--color-gray-dark);
  height: 90vh;
  overflow: hidden;
  color: var(--color-light);
}

.contentContainer {
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
  inset: 0;
  padding: 0 var(--space-x);
  width: 100%;
  min-height: 90vh;
  text-align: center;
}

.title {
  font-size: 6rem;
  line-height: 100%;
  font-family: var(--font-title);
  text-transform: uppercase;
}

.span {
  background: linear-gradient(
    to bottom,
    var(--color-primary),
    var(--color-primary-dark)
  );
  background-clip: text;
  color: transparent;
  font-size: inherit;
}

.subtitle {
  font-size: 1.6rem;
  font-family: var(--font-subtitle);
  letter-spacing: 10px;
}

.image {
  position: absolute;
  top: 30vh;
  left: -50vw;
  opacity: 0.1;
  animation:
    animateEntry 2s ease forwards,
    animateImage 300s linear infinite;
  width: 200vw;
}

@keyframes animateEntry {
  from {
    top: 80vh;
  }
  to {
    top: 30vh;
  }
}

@keyframes animateImage {
  to {
    transform: rotate(360deg);
  }
}

@media (min-width: 1024px) {
  .image {
    left: 0;
    width: 100%;
  }
}
