.footer {
  background-color: var(--color-gray-dark);
  color: var(--color-light);
  text-align: center;
}

.contentContainer {
  display: grid;
  gap: var(--space-sm);
  padding: var(--space-lg) var(--space-x);
}

.socialMedia {
  display: flex;
  justify-content: center;
  gap: var(--space-md);
}

.icon {
  transition: 0.3s;
  width: 50px;
  height: 50px;
  color: var(--color-primary);
}

.icon:hover {
  color: var(--color-primary-dark);
}

.copyrightContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-dark);
  padding: var(--space-sm) 0;
  text-align: center;
}

@media (min-width: 720px) {
  .contentContainer {
    grid-template-columns: 1fr 1fr;
  }
}
